# original gitignore
gapbuf
intro.ppm
multicursors.ppm
macros.ppm
illusion.ppm

# Ignores vim swp files
*.swp

a.out

# After switching to splitbuf-anim
splitbuf-anim
# This .SYM gets generated in Macbook
splitbuf-anim.dSYM/
*.gif
